.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.platformSection {
  padding: 4rem 0;
  text-align: center;
}

.platformDescription {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--ifm-color-emphasis-700);
}

.platformDescriptionHighlight {
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--ifm-color-primary);
}

.latestBlogSection {
  padding: 4rem 0;
  background-color: var(--ifm-color-emphasis-100);
}

.latestDocsSection {
  padding: 4rem 0;
  background-color: var(--ifm-color-emphasis-100);
}
